
body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-center {
  margin: 0 auto;
}

footer {
  margin: 50px 0;
}

.clickable {
  cursor: pointer;
}

.img-responsive {
  min-height: 90px;
}

#preloader {
  position: absolute;
  top: 30%;
  left: 30%;
}

#chart-container {
  height: 300px;
  width: 100%;
  background: url(/img/loader.gif) no-repeat center center;
}